<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<div class="loader--1"></div>
<pre id="log">
    
</pre>
<%- include(`${partials}/scripts`, {scriptname: 'icequeen'}); -%>
</body>
</html>