<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/snowball_staking/">Staking</a>
</div>

<h3>Welcome to Snowball Finance</h3>

This is a tool for interacting with the Snowball Finance smart contracts.

Stake your LP tokens from Pangolin Exchange on the <a href="<%= PP %>/snowball_staking/">Staking</a> page to earn Snowball token rewards.

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<a href="https://twitter.com/AbominableSas" target="_blank">Twitter</a> - <a href="https://discord.gg/W5YgHkfW" target="_blank">Discord</a>
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
</body>
</html>
