<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<%- include(`${partials}/header_main`); -%>
<pre class="container">
<div>
<h2>FAQ</h2>
<b><u>Project</u></b>

<b>What is Snowball Finance?</b>
Snowball Finance is a yield optimizer on the Avalanche Network.
<a href="https://medium.com/snowball-finance/snowball-finance-launce-68554044bdd2" target="_blank">https://medium.com/snowball-finance/snowball-finance-launce-68554044bdd2</a>

<b>Why should I use Snowball Finance?</b>
Snowball Finance automatically compounds PNG rewards for you multiple times per day, saving on gas and generating higher APY.



<b><u>Snowball Tokens</u></b>

<b>What are Snowball (SNOB) tokens?</b>
Snowball (SNOB) is a governance token given to stakers on the protocol.

<b>How do I earn Snowball (SNOB) tokens?</b>
Earn Snowball tokens by either depositing sPGL tokens or SNOW-AVAX LP tokens into the IceQueen contract



<b><u>Other</u></b>

<b>Is this tool safe to use?</b>
This tool has been reviewed by members of the core Snowball Finance team, such as <a href="https://twitter.com/AbominableSas" target="_blank">Abominable Sasquatch</a>
Source code: <a href="https://github.com/best-coder-NA/vfat-tools" target="_blank">https://github.com/best-coder-NA/vfat-tools</a>

<b>Why can't I connect my wallet?</b>
Please ensure you have Metamask installed and are configured to use the Avalance Network.
<a href="https://tradingtoolcrypto.medium.com/how-to-use-metamask-with-avalanche-avax-e5db94d749b" target="_blank">https://tradingtoolcrypto.medium.com/how-to-use-metamask-with-avalanche-avax-e5db94d749b</a>
<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>
