<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body>
<%- include(`${partials}/header_main`); -%>
<pre class="container">
<div style="white-space: pre-wrap;">
<h2>FAQ</h2>
<b><u>Project</u></b>

<b>What is Snowball Finance?</b>
Snowball Finance is a yield optimizer on the Avalanche Network.
<a href="https://medium.com/snowball-finance/snowball-finance-launce-68554044bdd2" target="_blank">https://medium.com/snowball-finance/snowball-finance-launce-68554044bdd2</a>

<b>Why should I use Snowball Finance?</b>
Snowball Finance automatically compounds PNG rewards for you multiple times per day, saving on gas and generating higher APY.

<b>How does auto compounding work in Snowball?</b>
<span>
Deposit your liquidity provider (LP) tokens into the SnowGlobe with the same token as you. After depositing you will receive S tokens, equivalent to the token pair you deposited. The rewards you receive as a LP are reinvested into the token you deposited. Snowball takes a 20% fee of the rewards you receive as a LP. Compounding happens multiple times per day, depending on the pool size.

SnoB tokens received from depositing your S tokens into IceQueen are not compounded.
</span>

<b>What does Ice Queen do?</b>
<span>You can send the sPGL tokens that you got from the Snowglobe to the Ice Queen. In return you will get our governance token; “snob”. </span>

<b>Who is behind Snowball?</b>
<span>We are currently anon. Snowball was initiated by <a href="https://twitter.com/AbominableSas">AbominableSasquatch</a>
</span>

<b>What kind of fees do Snowball take?</b>
<span>
Snowball takes 20% as a fee for providing the service of auto compounding the rewards. These fees cover the costs of auto compounding as well further development of snowball and the platform.
</span>

<b><u>Snowball Tokens</u></b>

<b>What are Snowball (SNOB) tokens?</b>
<span>The snowballs (snob) are our governance tokens. We are currently working on a governance architecture so that you will be able to have a say in the direction that Snowball will take.</span>

<b>How do I earn Snowball (SNOB) tokens?</b>
Earn Snowball tokens by either depositing sPGL tokens or SNOB-AVAX LP tokens into the IceQueen contract

<b><u>Other</u></b>

<b>Is this tool safe to use?</b>
Snowball is a fork of pickle.finance which is audited. Snowball is currently not audited and the plan is to do an audit of the contracts. You can make your own judgement whether you trust the contracts by having a look on <a href="https://github.com/Snowball-Finance/protocol">github</a>. The source of this website is also on github: <a href="https://github.com/best-coder-NA/vfat-tools" target="_blank">https://github.com/best-coder-NA/vfat-tools</a>

That said, Snowball is an experimental protocol. Please only deposit funds you are okay losing. Yield farming in itself has inherent risks; do your own research.

<b>Why can't I connect my wallet?</b>
Please ensure you have Metamask installed and are configured to use the Avalance Network.
<a href="https://tradingtoolcrypto.medium.com/how-to-use-metamask-with-avalanche-avax-e5db94d749b" target="_blank">https://tradingtoolcrypto.medium.com/how-to-use-metamask-with-avalanche-avax-e5db94d749b</a>

<b>How do you calculate APR and APY?</b>
For APR we use the same logic as <a href="https://vfat.tools/avax/png/" target="_blank">https://vfat.tools/avax/png/</a>.
It takes price of the two tokens in a pair, price of PNG, and PNG emissions rates from Pangolin Exchange into factor.

For APY we use the standard formula A = P(1 + r/n)nt
Try it yourself here:
<a href="https://www.calculatorsoup.com/calculators/financial/compound-interest-calculator.php" target="_blank">https://www.calculatorsoup.com/calculators/financial/compound-interest-calculator.php</a>

<%- include(`${partials}/scripts`, {scriptname: 'homepage'}); -%>
</body>
</html>
